.about-box {
    width: 1200px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    border-top: 1px solid grey;
    border-bottom: 1px solid gray;
    margin: 20px auto;
  }
  .about-img-box {
    width: 900px;
    margin: 0 auto;
  }
  .about-box > a {
    margin: 0 auto;
  }

  .about-box > h1 {
    padding: 20px 0; 

  }