$desktop: 992px;
$tablet: 1024px;
$phone: 480px;

.contact {
    margin: 100px auto 0;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height:160px;
    justify-content: space-evenly;
    @media screen and (max-width: $tablet) {
        height: auto;
        align-items: center;
        width: 100%;
    }
    @media screen and (max-width: $phone) {
        flex-direction: column;
    }
    .contact-item {
        text-align: center;
        min-width: 20%;
        padding: 10px;
        @media screen and (max-width: $tablet) {
            width: 20%;
            margin: 20px; 
        }
        @media screen and (max-width: $phone) {
            width: 90%;
            margin: 15px; 
        }
    }
    h1 {
        width: 100%;
        text-align: center;
    } 
}

