$desktop: 992px;
$tablet: 1024px;
$phone: 480px;

* {
    box-sizing: border-box;
    margin: 0 auto;
    @media screen and (max-width: $phone) {
    }
  }
  html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }
  body {
    background-image: url('../images/wood-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: rgb(158, 158, 158);
  }
  p, h1, h2, h3, h4, h5, a {
    font-family: 'Comfortaa', cursive;
    line-height: 1.25;
  }
  p {
    font-size: 1.75rem;
    @media screen and (max-width: $tablet) {
      font-size: 1.5rem;
    }
  }
  h1 {
    font-size: 3rem;
    font-weight: bold;
    @media screen and (max-width: $tablet) {
      font-size: 2.5rem;
    }
  }
  h2 {
    font-size: 2.75rem;
    @media screen and (max-width: $tablet) {
      font-size: 2.25rem;
    }
  }
  h3 {
    font-size: 2.5rem;
    font-weight: bold;
    @media screen and (max-width: $tablet) {
      font-size: 2rem;
    }
  }
  li {
    font-size: 1.25rem;
    @media screen and (max-width: $tablet) {
      font-size: 1rem;
    }
  }
  .arrow {
    transition: 0.2s ease;
    border-radius: 50%;
    border: 1px solid black;
    width: 60px;
    margin: 10px auto;
    padding: 6px;
  }
  .arrow:hover {
    border: 2px solid black;
    width: 62px;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }
  .continue{
    margin:0 auto;
    font-size: 2rem;
    background: none;
    font-weight: 600;
    border-radius: 5px;
}
  