$desktop: 992px;
$tablet: 1030px;
$phone: 480px;

.header {
  width: 100%;
  position: fixed;
  background: rgb(120, 133, 151);
  color: white;
  display:flex;
  height: 40px;
  padding: 10px 0;
  border-bottom: 2px solid black;
  @media screen and (max-width: $tablet) {

  }
  h2{
    align-self: center;
    text-align: left;
    margin: 0 auto;
  }
  h2:hover {
    color: black;
  }
  .nav-link {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 5px;
    margin: 2px;
    font-weight: 200;
    @media screen and (max-width: $tablet) {
      font-size: 1.75rem;
      padding: 0;
    }
  }
  .nav-link:hover {
    color: black;
    font-weight: 600;
    transition: ease-in-out .075s;
  }
  .navigation {
    width: 35%;
    height:30px;
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    @media screen and (max-width: $phone) {
    flex-direction: column;
    }
  }
}

  