.home-page{
    display: flex;
    margin: 0 auto;
    padding-top: 100px;
    max-width: 1200px;
    height: 100vh;
    .intro-box{
        margin: 10% auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        .intro-image{
            margin: 20px 0;
            width: 600px;
            box-shadow: 0px 1px 12px rgba(0, 0, 1, 0.25), 0px 4px 8px rgba(0, 0, 1, 0.25), 0px 1px 4px rgba(0, 0, 1, 0.25);
        }
        h1{
            margin: 20px 0;
        }
        button{
            background: none;
            border: none;
            border-radius: 0px;
            transition: ease-in-out .2s;
        }
        button:hover{
            border: 1px solid rgba(0, 0, 0, 0.5);

        }
    }
}