$desktop: 992px;
$tablet: 1030px;
$phone: 480px;

.project-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 100px;
  h1{
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
  }
  .project-card{
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 0;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s ease-in-out;
    p{
      text-align: center;
      font-size: 18px;
    }
    .project-date{
      color: #bfc4b5;
      justify-self: flex-end;
    }
  }
  .project-card:hover{
    background: #bfc4b5;
    font-weight: 500;
    color: white;
    .project-image{
      transition: .3s ease-in-out;
      width: 195px;
      height: 195px;
    }
    .project-date {
      transition: .3s ease-in-out;
      color: white;
    }
  }
  .project-image{
    width: 180px;
    height: 180px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 0;
  }
  .modal{
    background: rgba(0, 0, 0, 0.212);
  }
}
